<mat-card>
    <mat-card-header>
        <img src="https://www.cotiinformatica.com.br/imagens/logo-coti-informatica.png" />
    </mat-card-header>
    <mat-card-title>
        Acesso ao Sistema
    </mat-card-title>
    <mat-card-subtitle>
        Informe suas credenciais de acesso:
    </mat-card-subtitle>
    <mat-card-content>
        <form>
            <p>
                <mat-form-field>
                    <mat-label>Nome do usuário:</mat-label>
                    <input matInput type="text" placeholder="Digite aqui" />

                </mat-form-field>
            </p>
            <p>
                <mat-form-field>
                    <mat-label>Senha do usuário:</mat-label>
                    <input matInput type="password" placeholder="Digite aqui" />

                </mat-form-field>
            </p>
            <p>
                <button type="submit" mat-raised-button color="primary">
                    Acessar Sistema
                </button>
            </p>
        </form>
    </mat-card-content>
</mat-card>